<ul class="nav nav-pills flex-column mb-auto">
  <li class="nav-item">
    <a href="/" class="nav-link {% if request.path == "/" %}active{% endif %} aria-current="page"> Dashboard </a>
  </li>
  <li>
    <a href="/vulnerabilities/" class="nav-link {% if "/vulnerabilities/" in request.path %}active{% endif %}"> Vulnerabilities </a>
  </li>
</ul>
<hr />
<div>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link"> Logout </a>
    </li>
  </ul>
</div>
