{% extends '_layouts/base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<div class="d-flex justify-content-between mb-5">
  <div class="card bg-danger text-white">
    <div class="card-body p-5">
      <p class="card-text">Critical count</p>
    </div>
  </div>
  <div class="card bg-warning text-white">
    <div class="card-body p-5">
      <p class="card-text">Hight count</p>
    </div>
  </div>
  <div class="card bg-primary text-white">
    <div class="card-body p-5">
      <p class="card-text">Medium count</p>
    </div>
  </div>
  <div class="card bg-success text-white">
    <div class="card-body p-5">
      <p class="card-text">Low count</p>
    </div>
  </div>
  <div class="card bg-info text-white">
    <div class="card-body p-5">
      <p class="card-text">Info count</p>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="col-7">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Widget 1</h5>
      </div>
    </div>
  </div>
  <div class="col-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Widget 2</h5>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Widget 2</h5>
      </div>
    </div>
  </div>
</div>


{% endblock content %}







